# Eclipse
/.settings
/.buildpath
/.project
/.jsdtscope
/*.launch

# Jetbrains
/*.iml

# bearsampp
/.dev
/setup/*.pspimage
/.idea/.gitignore
/.idea/deployment.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/prerequisites.iml
/.idea/vcs.xml

# Visual Studio
/*.vs
/*.vsc
/.vs
